on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  jobs:
    test:
      name: Test
      runs-on: ubuntu-18.04
      container:
        image: php:7.4-cli
      steps:
        - name: Checkout
          uses: actions/checkout@v2
        - name: PHPunit
          uses: ./
          run: |
            apt update
            apt install -y libzip-dev unzip
            curl -sS https://getcomposer.org/installer | php -- --install-dir=/usr/local/bin --filename=composer
            composer install
            ./vendor/bin/phpunit tests